<html>
  <body style='font-family: Arial, sans-serif; margin: 0; padding: 45px; background-color:rgb(247, 247, 247)'>
    <div style='text-align: center;'>
      <img src='cid:SUS' alt='logo' style='width: 85% ; height:450px; margin: 10px' />
    </div>

    <h1 style='text-align: center; color:#F62C04'>Hello again from <strong>{{project}}</strong></h1>
    <br />
    <br />
    <h2>Your shortened Url for {{url}} has expired</h2>
    <p style="font-size: large;">
      <br />
      <br />
      The shortened Url you had generated for the URL {{url}} expired at:
      <br />
      {{expiresAt}},
      <br />
      <br />
      Please create a new one at <strong>{{project}}</strong>
    </p>


    <footer style="font-size:medium">
      <p style='margin-top: 40px; color: #F62C04; font-weight:bolder; '>
        — The
        {{project}}
        Team
      </p>
      <p>Author: Stuti Upreti<br>
      <p><a href='mailto:istutiupreti805@example.com'>istutiupreti805@example.com</a></p>
    </footer>
  </body>

</html>